[0;4mUNIT                          LOAD   ACTIVE SUB       DESCRIPTION              [0m
[0;4mproc-sys-fs-binfmt_misc.automount loaded active waiting   Arbitrary Executable File[0m
sys-devices-pci0000:00-0000:00:01.1-0000:10:00.0-backlight-acpi_video0.device loaded active plugged   /sys/devices/pci0000:00/0
sys-devices-pci0000:00-0000:00:01.1-0000:10:00.1-sound-card0.device loaded active plugged   Ellesmere HDMI Audio [Rad
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata1-host0-target0:0:0-0:0:0:0-block-sda-sda1.device loaded active plugged   WDC_WD10EZEX-08WN4A0 Micr
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata1-host0-target0:0:0-0:0:0:0-block-sda-sda2.device loaded active plugged   WDC_WD10EZEX-08WN4A0 Docs
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata1-host0-target0:0:0-0:0:0:0-block-sda.device loaded active plugged   WDC_WD10EZEX-08WN4A0     
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata6-host5-target5:0:0-5:0:0:0-block-sdb-sdb1.device loaded active plugged   Lexar_SSD Recuperación  
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata6-host5-target5:0:0-5:0:0:0-block-sdb-sdb2.device loaded active plugged   Lexar_SSD EFI\x20system\x
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata6-host5-target5:0:0-5:0:0:0-block-sdb-sdb3.device loaded active plugged   Lexar_SSD Microsoft\x20re
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata6-host5-target5:0:0-5:0:0:0-block-sdb-sdb4.device loaded active plugged   Lexar_SSD Basic\x20data\x
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata6-host5-target5:0:0-5:0:0:0-block-sdb-sdb5.device loaded active plugged   Lexar_SSD 5              
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata6-host5-target5:0:0-5:0:0:0-block-sdb-sdb6.device loaded active plugged   Lexar_SSD 6              
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata6-host5-target5:0:0-5:0:0:0-block-sdb-sdb7.device loaded active plugged   Lexar_SSD 7              
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.1-ata6-host5-target5:0:0-5:0:0:0-block-sdb.device loaded active plugged   Lexar_SSD                
sys-devices-pci0000:00-0000:00:01.2-0000:15:00.2-0000:16:04.0-0000:1b:00.0-net-enp27s0.device loaded active plugged   RTL8111/8168/8411 PCI Exp
sys-devices-pci0000:00-0000:00:08.1-0000:38:00.6-sound-card1.device loaded active plugged   Family 17h (Models 10h-1f
sys-devices-platform-serial8250-tty-ttyS1.device loaded active plugged   /sys/devices/platform/ser
sys-devices-platform-serial8250-tty-ttyS2.device loaded active plugged   /sys/devices/platform/ser
sys-devices-platform-serial8250-tty-ttyS3.device loaded active plugged   /sys/devices/platform/ser
sys-devices-pnp0-00:04-tty-ttyS0.device loaded active plugged   /sys/devices/pnp0/00:04/t
sys-devices-virtual-misc-rfkill.device loaded active plugged   /sys/devices/virtual/misc
sys-devices-virtual-net-br\x2d0a3fdf9d87a4.device loaded active plugged   /sys/devices/virtual/net/
sys-devices-virtual-net-br\x2d137c2358da2f.device loaded active plugged   /sys/devices/virtual/net/
sys-devices-virtual-net-br\x2d22e3711422da.device loaded active plugged   /sys/devices/virtual/net/
sys-devices-virtual-net-br\x2d348db7580f88.device loaded active plugged   /sys/devices/virtual/net/
sys-devices-virtual-net-br\x2d6c447f3e8847.device loaded active plugged   /sys/devices/virtual/net/
sys-devices-virtual-net-br\x2d98bea4856f5d.device loaded active plugged   /sys/devices/virtual/net/
sys-devices-virtual-net-br\x2daa842ad1a630.device loaded active plugged   /sys/devices/virtual/net/
sys-devices-virtual-net-br\x2de96ca63d33cf.device loaded active plugged   /sys/devices/virtual/net/
sys-devices-virtual-net-docker0.device loaded active plugged   /sys/devices/virtual/net/
sys-devices-virtual-net-veth6eacc64.device loaded active plugged   /sys/devices/virtual/net/
sys-module-configfs.device    loaded active plugged   /sys/module/configfs     
sys-module-fuse.device        loaded active plugged   /sys/module/fuse         
sys-subsystem-net-devices-br\x2d0a3fdf9d87a4.device loaded active plugged   /sys/subsystem/net/device
sys-subsystem-net-devices-br\x2d137c2358da2f.device loaded active plugged   /sys/subsystem/net/device
sys-subsystem-net-devices-br\x2d22e3711422da.device loaded active plugged   /sys/subsystem/net/device
sys-subsystem-net-devices-br\x2d348db7580f88.device loaded active plugged   /sys/subsystem/net/device
sys-subsystem-net-devices-br\x2d6c447f3e8847.device loaded active plugged   /sys/subsystem/net/device
sys-subsystem-net-devices-br\x2d98bea4856f5d.device loaded active plugged   /sys/subsystem/net/device
sys-subsystem-net-devices-br\x2daa842ad1a630.device loaded active plugged   /sys/subsystem/net/device
sys-subsystem-net-devices-br\x2de96ca63d33cf.device loaded active plugged   /sys/subsystem/net/device
sys-subsystem-net-devices-docker0.device loaded active plugged   /sys/subsystem/net/device
sys-subsystem-net-devices-enp27s0.device loaded active plugged   RTL8111/8168/8411 PCI Exp
[0;4msys-subsystem-net-devices-veth6eacc64.device loaded active plugged   /sys/subsystem/net/device[0m
-.mount                       loaded active mounted   /                        
boot-efi.mount                loaded active mounted   /boot/efi                
dev-hugepages.mount           loaded active mounted   Huge Pages File System   
dev-mqueue.mount              loaded active mounted   POSIX Message Queue File 
run-docker-netns-c0f5bff834d6.mount loaded active mounted   /run/docker/netns/c0f5bff
run-media-milardovich-Docs.mount loaded active mounted   /run/media/milardovich/Do
run-user-1000-gvfs.mount      loaded active mounted   /run/user/1000/gvfs      
run-user-1000.mount           loaded active mounted   /run/user/1000           
sys-fs-fuse-connections.mount loaded active mounted   FUSE Control File System 
sys-kernel-config.mount       loaded active mounted   Kernel Configuration File
sys-kernel-debug.mount        loaded active mounted   Kernel Debug File System 
tmp.mount                     loaded active mounted   /tmp                     
[0;4mvar-lib-docker-overlay2-70a5e50bf207c24c3e5ae9479af3bbee111bfc72beacf99509743f6c143e0b93-merged.mount loaded active mounted   /var/lib/docker/overlay2/[0m
org.cups.cupsd.path           loaded active running   CUPS Scheduler           
systemd-ask-password-console.path loaded active waiting   Dispatch Password Request
[0;4msystemd-ask-password-wall.path loaded active waiting   Forward Password Requests[0m
init.scope                    loaded active running   System and Service Manage
[0;4msession-1.scope               loaded active running   Session 1 of user milardo[0m
accounts-daemon.service       loaded active running   Accounts Service         
avahi-daemon.service          loaded active running   Avahi mDNS/DNS-SD Stack  
cronie.service                loaded active running   Periodic Command Schedule
dbus.service                  loaded active running   D-Bus System Message Bus 
docker.service                loaded active running   Docker Application Contai
kmod-static-nodes.service     loaded active exited    Create list of required s
lightdm.service               loaded active running   Light Display Manager    
lvm2-lvmetad.service          loaded active running   LVM2 metadata daemon     
lvm2-monitor.service          loaded active exited    Monitoring of LVM2 mirror
ModemManager.service          loaded active running   Modem Manager            
NetworkManager-wait-online.service loaded active exited    Network Manager Wait Onli
NetworkManager.service        loaded active running   Network Manager          
org.cups.cupsd.service        loaded active running   CUPS Scheduler           
pamac-daemon.service          loaded active running   Pamac Daemon             
polkit.service                loaded active running   Authorization Manager    
rtkit-daemon.service          loaded active running   RealtimeKit Scheduling Po
systemd-backlight@backlight:acpi_video0.service loaded active exited    Load/Save Screen Backligh
systemd-fsck@dev-disk-by\x2duuid-3565\x2d1F8F.service loaded active exited    File System Check on /dev
systemd-journal-flush.service loaded active exited    Flush Journal to Persiste
systemd-journald.service      loaded active running   Journal Service          
systemd-logind.service        loaded active running   Login Service            
systemd-modules-load.service  loaded active exited    Load Kernel Modules      
systemd-random-seed.service   loaded active exited    Load/Save Random Seed    
systemd-remount-fs.service    loaded active exited    Remount Root and Kernel F
systemd-sysctl.service        loaded active exited    Apply Kernel Variables   
systemd-timesyncd.service     loaded active running   Network Time Synchronizat
systemd-tmpfiles-setup-dev.service loaded active exited    Create Static Device Node
systemd-tmpfiles-setup.service loaded active exited    Create Volatile Files and
systemd-udev-trigger.service  loaded active exited    udev Coldplug all Devices
systemd-udevd.service         loaded active running   udev Kernel Device Manage
systemd-update-utmp.service   loaded active exited    Update UTMP about System 
systemd-user-sessions.service loaded active exited    Permit User Sessions     
tlp.service                   loaded active exited    TLP system startup/shutdo
udisks2.service               loaded active running   Disk Manager             
ufw.service                   loaded active exited    CLI Netfilter Manager    
upower.service                loaded active running   Daemon for power manageme
user-runtime-dir@1000.service loaded active exited    User Runtime Directory /r
[0;4muser@1000.service             loaded active running   User Manager for UID 1000[0m
-.slice                       loaded active active    Root Slice               
system-getty.slice            loaded active active    system-getty.slice       
system-systemd\x2dbacklight.slice loaded active active    system-systemd\x2dbacklig
system-systemd\x2dcoredump.slice loaded active active    system-systemd\x2dcoredum
system-systemd\x2dfsck.slice  loaded active active    system-systemd\x2dfsck.sl
system.slice                  loaded active active    System Slice             
user-1000.slice               loaded active active    User Slice of UID 1000   
[0;4muser.slice                    loaded active active    User and Session Slice   [0m
avahi-daemon.socket           loaded active running   Avahi mDNS/DNS-SD Stack A
dbus.socket                   loaded active running   D-Bus System Message Bus 
dm-event.socket               loaded active listening Device-mapper event daemo
docker.socket                 loaded active running   Docker Socket for the API
lvm2-lvmetad.socket           loaded active running   LVM2 metadata daemon sock
lvm2-lvmpolld.socket          loaded active listening LVM2 poll daemon socket  
org.cups.cupsd.socket         loaded active running   CUPS Scheduler           
systemd-coredump.socket       loaded active listening Process Core Dump Socket 
systemd-initctl.socket        loaded active listening initctl Compatibility Nam
systemd-journald-audit.socket loaded active running   Journal Audit Socket     
systemd-journald-dev-log.socket loaded active running   Journal Socket (/dev/log)
systemd-journald.socket       loaded active running   Journal Socket           
systemd-rfkill.socket         loaded active listening Load/Save RF Kill Switch 
systemd-udevd-control.socket  loaded active running   udev Control Socket      
[0;4msystemd-udevd-kernel.socket   loaded active running   udev Kernel Socket       [0m
[0;4mdev-disk-by\x2duuid-35b8c22b\x2d5d4b\x2d45da\x2da4b7\x2d7fe0221034c5.swap loaded active active    /dev/disk/by-uuid/35b8c22[0m
basic.target                  loaded active active    Basic System             
cryptsetup.target             loaded active active    Local Encrypted Volumes  
getty.target                  loaded active active    Login Prompts            
graphical.target              loaded active active    Graphical Interface      
local-fs-pre.target           loaded active active    Local File Systems (Pre) 
local-fs.target               loaded active active    Local File Systems       
multi-user.target             loaded active active    Multi-User System        
network-online.target         loaded active active    Network is Online        
network.target                loaded active active    Network                  
nss-user-lookup.target        loaded active active    User and Group Name Looku
paths.target                  loaded active active    Paths                    
remote-fs.target              loaded active active    Remote File Systems      
slices.target                 loaded active active    Slices                   
sockets.target                loaded active active    Sockets                  
sound.target                  loaded active active    Sound Card               
swap.target                   loaded active active    Swap                     
sysinit.target                loaded active active    System Initialization    
time-set.target               loaded active active    System Time Set          
time-sync.target              loaded active active    System Time Synchronized 
[0;4mtimers.target                 loaded active active    Timers                   [0m
logrotate.timer               loaded active waiting   Daily rotation of log fil
man-db.timer                  loaded active waiting   Daily man-db regeneration
pamac-cleancache.timer        loaded active waiting   Monthly clean packages ca
pamac-mirrorlist.timer        loaded active waiting   Generate mirrorlist weekl
shadow.timer                  loaded active waiting   Daily verification of pas
systemd-tmpfiles-clean.timer  loaded active waiting   Daily Cleanup of Temporar
updatedb.timer                loaded active waiting   Daily locate database upd

LOAD   = Reflects whether the unit definition was properly loaded.
ACTIVE = The high-level unit activation state, i.e. generalization of SUB.
SUB    = The low-level unit activation state, values depend on unit type.

[0;1;39m151 loaded units listed.[0m Pass --all to see loaded but inactive units, too.
To show all installed unit files use 'systemctl list-unit-files'.
